h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 0;
}

body {
    margin: 0px;
    background-color: #fafafa;
}

input {
    font-size: 1.1rem;
    width: 70%;
    color: #333333;
    border-radius: 0.1rem;
    padding: 10px 10px;
    border: solid 1px #111111;
}

.mr {
    margin-right: 10px;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.mb-1 {
    margin-bottom: 1.2rem !important;
}

.mb-2 {
    margin-bottom: 2.4rem !important;
}

button {
    padding: 0px;
    font-size: 1.1rem;
    border-radius: 0.1rem;
    background-color: #333;
    color: #fafafa;
    border: solid 1px #676767;
    line-height: 2.7rem;
    height: 2.7rem;
    vertical-align: middle;
    padding-left: 9px;
    padding-right: 9px;
}

button:hover {
    cursor: pointer;
    background-color: #444444;
}

button.delete_btn {
    line-height: 2rem;
    height: 2rem;
    background-color: #eb4034;
    border: none;
}

table {
    font-size: 1.5rem;
    border-collapse: collapse;
}

tr {
    border-bottom: solid 1px #111111;
}

tr th,
tr td {
    text-align: left;
    font-size: 1.1rem;
}

tr td {
    padding-top: 10px;
    padding-bottom: 10px;
}

tr th:last-child,
tr td:last-child {
    text-align: right;
}

tr th:nth-child(1),
tr td:nth-child(1) {
    padding-left: 1rem;
    width: 25%;
}

tr th:nth-child(3),
tr td:nth-child(3) {
    padding-right: 1rem;
    width: 10%;
}

td button:hover {
    background-color: tomato;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#header {
    /* padding-top: 0.5rem;
    padding-bottom: 0.5rem; */
    background-color: #333;
    background-color: #f4b400;
    backdrop-filter: saturate(180%) blur(20px);
}

li {
    float: left;
}

li button,
li p,
li input,
#water {
    font-size: 20px;
    display: block;
    background: transparent;
    border: none;
    text-align: center;
    margin: 17px 0px;
    padding-left: 16px;
    padding-right: 16px;
}

li:last-child {
    margin-left: auto;
}

li input {
    border-radius: 0.1rem;
    padding: 7px 10px;
    text-align: left;
    background-color: #676767;
    border: solid 1px #676767;
    backdrop-filter: saturate(180%) blur(20px);
}

li img {
    vertical-align: middle;
    width: 25px;
    margin: 0px;
}

input:focus,
button:focus {
    outline: #eb4034;
    /* border: #eb4034 1px solid; */
}

li input::placeholder {
    color: #c6c6c6;
}

li button:hover {
    cursor: pointer;
    color: #bfbfbf;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title,
.container {
    display: flex;
    flex-direction: row;
    padding-left: 17rem;
    padding-right: 17rem;
    margin: 0;
}

.title span {
    margin-left: 3px;
    margin-bottom: 1px;
}

.container {
    justify-content: center;
    margin-bottom: 3.4rem;
}

.container>* {
    flex-grow: 1;
}

/* Ripple effect */
.ripple {
    background-position: center;
    transition: background 0.8s;
}

.ripple:hover {
    background: #555555 radial-gradient(circle, transparent 1%, #555555 1%) center/15000%;
}

.ripple:active {
    background-color: #777777;
    background-size: 100%;
    transition: background 0s;
}

#water_container {
    display: flex;
    position: relative;
    align-items: flex-end;
    height: 300px;
    width: 500px;
    border-left: #222222 5px solid;
    border-right: #222222 5px solid;
    border-bottom: #222222 5px solid;
    border-radius: 0 0 0.2rem 0.2rem;
    background-color: #9ac7ff;
}

#water_percentage {
    position: absolute;
    font-family: 'Barlow Condensed';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    z-index: 99999;
    color: white;
}

#water_percentage::after {
    position: absolute;
    right: -35px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    content: '%';
}

#water {
    margin: 0;
    bottom: 0px;
    width: 100%;
    height: 0%;
    transition: ease-in-out height 0.6s;
    background-color: #164899;
}

#defaultCanvas0 {
    margin: 0;
    bottom: 0px;
    width: 100%;
    height: 0%;
    background-color: #164899;
}

#modal {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
    font-family: 'Barlow Condensed';
    background-color: #a93830;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(218, 230, 255);
    font-size: 2.5rem;
    border-radius: 1px;
    display: none;
}

.appear {
    display: flex !important;
}

/* Button style */
button {
    border: none;
    cursor: pointer;
    color: white;
}

.odometer.odometer-animating-up .odometer-ribbon-inner,
.odometer.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
    -webkit-transition-duration: .9s !important;
    -moz-transition-duration: .9s !important;
    -ms-transition-duration: .9s !important;
    -o-transition-duration: .9s !important;
    transition-duration: .9s !important
}

* {
    font-family: "Consolas";
    font-weight: 400;
    /* border: solid 1px green; */
}