<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="https://ais3.org/img/AIS3_favicon.png">
    <title>AIS3 2020 Final</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }} />
</head>

<body>
    <section>
        <div id="header" class="container">
            <ul>
                <li>
                    <img src="https://ais3.org/img/AIS3logo.png" alt="ais3_logo">
                </li>
                <li>
                    <p>AIS3 2020</p>
                </li>
                <li>
                    <p>CI GROUP 2</p>
                </li>
            </ul>
        </div>
    </section>

    <section>
        <div class="container">
            <h1>TITLE</h1>
        </div>

        <!-- <form action="/HMIquery" method="POST"> -->
        <div class="container">
            <input id="input_bar" type="text" username="HMIquery" placeholder="Type something ヽ(✿ﾟ▽ﾟ)ノ" />
            <button id="submit_btn" class="ripple">Send</button>
        </div>

        <div class="container">
            <input type="text" value="Default Value" readonly />
        </div>
        <!-- </form> -->
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src={{ url_for('static', filename='js/main.js') }}></script>
    <!-- <script src="main.js"></script> -->
</body>

</html>